@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background-color: #f6ede5;
}

#flipbuttxt, p {
  font-family: 'Raleway', sans-serif;
}

.cont-contactInfo {
  float: left;
  padding-right: 5%;
  width: 45%;
}
.cont-contactInfo h3 {
  font-size: 28px;
}
.cont-contactInfo h4 {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.cont-contactInfo h4.section {
  margin: 30px 0 0;
}
.cont-contactInfo p {
  margin: 0;
}
.cont-contactInfo p > a {
  text-transform: uppercase;
  font-weight: bold;
}
.cont-contactInfo .social-icons {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
.cont-contactInfo .social-icons li {
  float: left;
  margin-right: 3px;
}
.cont-contactInfo .social-icons li a {
  background-image: url("../images/sprite_social_icons.png");
  background-repeat: no-repeat;
  display: block;
  height: 28px;
  width: 29px;
}
.cont-contactInfo .social-icons li a:hover {
  opacity: .8;
}
.cont-contactInfo .social-icons li a.icon_twitter {
  background-position: -33px 0;
}
.cont-contactInfo .social-icons li a.icon_linkedin {
  background-position: -68px 0;
}
.cont-contactInfo .social-icons li a.icon_youtube {
  background-position: -102px 0;
}
.cont-contactInfo .social-icons li a.icon_pinterest {
  background-position: -135px 0;
}
.cont-contactInfo .social-icons li a.icon_vimeo {
  background-position: -169px 0;
}
.cont-contactInfo .social-icons li a.icon_instagram {
  background-position: -204px 0;
}

.cont-contactBtn {
  height: 300px;
  margin: 0px auto;
  width: auto;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.cont-contactBtn .cont-flip {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}
.cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cont-contactBtn .cont-flip .front {
  background-color: rgb(242,95,112);
}
.cont-contactBtn .cont-flip .back {
  background-color: #fff;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cont-contactBtn .btn {
  margin-top: 155px;
}
.cont-contactBtn .cont-flip.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.cont-contactBtn .contact-form {
  padding: 0 10%;
  margin-top: 50px;
  width: 80%;
}
.cont-contactBtn .contact-form input, .cont-contactBtn .contact-form textarea {
  border: 1px solid #808080;
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
}
.cont-contactBtn .contact-form input[type="text"] {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 44.9%;
}
.cont-contactBtn .contact-form .gutter {
  margin-right: 2.8%;
}
.cont-contactBtn .contact-form textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 96.2%;
}
.cont-contactBtn .contact-form input[type="submit"] {
  background-color: rgb(242,95,112);
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  max-width: 93px;
  text-align: center;
}
.cont-contactBtn .close {
  display: block;
  height: 19px;
  width: 19px;
  background-image: url("https://i.imgur.com/WoKg12q.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 3%;
}

.btn {
  border: 3px #fff solid;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin: -10px auto auto auto;
  max-width: 280px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
}



/* EDITED MENU */

header {
  position: relative;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.menubar {
  z-index: 999;
}