
.form {
    background: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 70px auto 0 auto;
    padding: 20px 20px 60px;
    max-width: 150%;
    width : 90%;
    font-family: 'Montserrat', sans-serif;
    position: center;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    background: #78788c;
    color: #fff
}


span {
    margin: 0 5px 0 15px
}