.pb {
    padding-bottom: 4.5em;
}

@media (max-width : 550px) {
    .progress {
        margin: 1em;
        width: 7em;
        height: 7em;
        position: relative;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
    }
}

@media (min-width : 551px) {
    .progress {
        margin: 1em;
        width: 10em;
        height: 10em;
        position: relative;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
    }
}
