@import url(https://fonts.googleapis.com/css?family=Montserrat);
/**
            Algemeen

*/

@media only screen and (max-width: 600px) {
    .container {
        width: auto;
    }
    #selfie {
        max-width: 50%;
    }
    form {
        size: 20;
    }
    .boekcover {
        max-width: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        width: 600px;
    }
    #selfie {
        max-width: 50%;
    }
    .boekcover {
        max-width: 40%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 500px;
    }
    #selfie {
        max-width: 50%;
    }
    .boekcover {
        max-width: 30%;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        width: 800px;
    }
    #selfie {
        max-width: 30%;
    }
    p {
        font-size: 120%;
    }
}

.ietsgroter {
    font-family: 'Sorts Mill Goudy', serif !important;
    font-weight: normal;
    color: rgb(60, 60, 60);
    font-size: 12px;
    text-align: left;
    margin-left: 6px;
    margin-top: -15px;
}

body {
    margin-top: 20px;
    margin-bottom: 2px;
    background: linear-gradient( rgba(255, 255, 255, 0.820), rgba(255, 255, 255, 0.820)), url(/images/little-stars.jpg);
    background-size: 30%;
    background-attachment: fixed;
    zoom: 110%;
    overflow-x: hidden;
}

a {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: normal;
    text-decoration: none;
}

.txt {
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: normal;
    color: rgb(60, 60, 60);
}

label {
    font: 400 1.15em 'Montserrat';
    font-weight: normal;
    color: rgb(60, 60, 60);
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.panel {
    background: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 20px auto 0 auto;
    padding: 10px 20px 10px;
    max-width: 150%;
    width: 90%;
}

/**
            HOME

*/

/* HEADERS */

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

#title {
    color: rgb(60, 60, 60);
}

h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
    margin-top: -7px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: underline;
}

h4 {
    font-size: 9px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#recenttitle {
    margin-bottom: 20px;
    font-size: 16px;
}

.bericht {
    font-size: 13px;
    text-align: center;
}

.blogicon {
    text-decoration: none;
}

i,
a>i:hover {
    text-decoration: none;
}

.material-icons {
    margin-bottom: 20px;
    width: 40px;
    height: 28px;
    color: #cccccc;
    background-color: #fafafa;
    border: 1px solid #cccccc;
    padding-top: 7px;
    padding-bottom: 5px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
}

.material-icons:hover {
    color: #FFF;
    background-color: rgb(242, 95, 112);
    border: 1px solid #cccccc;
}

/* IMAGES */

.responsive {
    width: 100%;
    height: auto;
}

/* LINK SETTING */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: rgb(60, 60, 60);
}

a.active {
    color: rgb(60, 60, 60);
}

/* Content */

p {
    font-size: 9px;
    margin-left: 20px;
}

.inhoud {
    background-color: rgb(250, 250, 250);
}

/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 45%;
    padding-left: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 650px) {
    .column {
        width: 75%;
    }
    .column2 {
        height: 90px;
    }
}

@media screen and (min-width: 650px) {
    .material-icons {
        margin-top: 50px;
    }
}