/**
            Over

*/

#selfie {
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.selfinfo {
    margin-top: 20px;
    font-size: 13px;
}


.overpanel {
    background: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 20px auto 0 auto;
    padding: 10px 20px 30px;
    max-width: 150%;
    width : 90%;
}



#mijnsocial {
    margin: -20px -70px;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 28px;
	color: #cccccc;
	background-color: #f3f3f3;
	border: 1px solid #cccccc;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #FFF;
	background-color: rgb(242,95,112);
	border: 1px solid #cccccc;
}
