*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#socialShare {
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

#socialShare a,
#socialShare > .socialBox {
  margin-top: 40px;
  position: relative;
  float: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

#socialShare  a {
  background-color: rgba(0, 0, 0, 0.2);
}

#socialShare > * > span {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15);
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 8px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
#socialShare > * > span:hover,
#socialShare > .open > span {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#socialGallery {
  left: 50%;
  margin: 0 auto 0;
  position: absolute;
  top: 60px;
  transform: translate(-50%, 0);
  visibility: hidden;
  width: 400px;
}

#socialGallery a {
  visibility: hidden;
  opacity: 0;
  margin: 5px 2px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: 10px;
}

#socialGallery a > span {
  position: relative;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.socialToolBox {
  cursor: default;
}

.pointer {
  cursor: pointer
}

.facebook:hover {
  background: #3b5998 !important
}

.google:hover {
  background: #dd4b39 !important
}

.instagram:hover {
  background: #517fa4 !important
}

.tumblr:hover {
  background: #32506d !important
}

.twitter:hover {
  background: #00aced !important
}

.youtube:hover {
  background: #bb0000 !important
}

@media only screen and (max-width: 480px) {
  #socialGallery {
    width: 220px;
  }
}

@media only screen and (max-width: 280px) {
  #socialGallery {
    width: 120px;
  }
}