/**

            SHOP

*/

.shopheader {
    background: #f3f3f3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 0px 0px 0px 3px;
    padding: 2px 20px 1px 20px;
    max-width: 150%;
    text-align: left;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    background-color: #f6ede5;
}

.material-icons {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    color: #cccccc;
    background-color: #fafafa;
    border: 1px solid #cccccc;
    padding-top: 1px;
    padding-bottom: 1.5px;
    padding-left: 0px;
    padding-right: 2px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
}

.material-icons:hover {
    color: #FFF;
    background-color: rgb(242, 95, 112);
    border: 1px solid #cccccc;
}

/* COVER 1 */


.cont-contactBtn {
    height: 500px;
    width: 340px;
    margin: 20px auto;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    box-shadow: 0 0 40px -10px #000;
    border-radius: 10px;
}

.cont-contactBtn .cont-flip {
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}

.cont-contactBtn .cont-flip .front,
.cont-contactBtn .cont-flip .back {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.cont-contactBtn .cont-flip .front {
    background-image: url(/images/boek1.jpg);
    background-size: 80% 
}

.cont-contactBtn .cont-flip .back {
    background-color: #fff;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.cont-contactBtn .cont-flip.flipped {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.cont-contactBtn .close {
    display: block;
    height: 19px;
    width: 19px;
    background-image: url("https://i.imgur.com/WoKg12q.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 15px;
    right: 3%;
}

/* COVER 2 */

.cont-contactBtn2 {
    height: 304px;
    margin: 20px auto;
    width: 304px;
    position: relative;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    box-shadow: 0 0 40px -10px #000;
    border-radius: 10px;
}

.cont-contactBtn2 .cont-flip2 {
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
}

.cont-contactBtn2 .cont-flip2 .front2,
.cont-contactBtn2 .cont-flip2 .back {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.cont-contactBtn2 .cont-flip2 .front2 {
    background-image: url(/images/boek2.jpg);
}

.cont-contactBtn2 .cont-flip2 .back {
    background-color: #fff;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.cont-contactBtn .btn {
    margin-top: 155px;
}

.cont-contactBtn2 .cont-flip2.flipped2 {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.cont-contactBtn2 .close2 {
    display: block;
    height: 19px;
    width: 19px;
    background-image: url("https://i.imgur.com/WoKg12q.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 15px;
    right: 3%;
}

/******************************/



/* EDITED MENU */

header {
    position: relative;
}

.menubar {
    z-index: 999;
}





/* DEPENDING ON SCREEN SIZE */
@media screen and (max-width: 550px) {
    .shopheader{
        width: 88%;
    }
    
    .cont-contactBtn {
        height: 380px;
        width: 265px;
    }
    .cont-contactBtn .cont-flip .front {
        background-image: url(/images/boek1.jpg);
        background-size: 100% 
    }

    .cont-contactBtn2 {
        height: 340px;
        width: 340px;
    }
    .cont-contactBtn2 .cont-flip2 .front2 {
        background-image: url(/images/boek2.jpg);
        background-size: 100% 
    }

    h6 {
        font-size: 100%;
        }
    
        .boekinfo {
            font-size: 13px;
        }

        .bestel1 {
            text-align: center;
            margin-top: 40px;
        }
        
        .bestel2 {
            text-align: center;
            margin-top: 55px;
        }

}
  @media screen and (min-width: 600px) and (max-width: 1000px) {
    .shopheader{
        width: 91%;
    }
    
    .cont-contactBtn {
        height: 500px;
        width: 340px;
    }
    .cont-contactBtn .cont-flip .front {
        background-image: url(/images/boek1.jpg);
        background-size: 100% 
    }

    .cont-contactBtn2 {
        height: 405px;
        width: 405px;
    }
    .cont-contactBtn2 .cont-flip2 .front2 {
        background-image: url(/images/boek2.jpg);
        background-size: 100% 
    }

    h6 {
    font-size: 150%;
    }

    .boekinfo {
        font-size: 15px;
    }


    .bestel1 {
        text-align: center;
        margin-top: 140px;
    }
    
    .bestel2 {
        text-align: center;
        margin-top: 80px;
    }
    
    
  }






  /* INFO */

h6 {
    text-align: center;
    margin-top: 19px;
    margin-left: -35px;
}

.boekinfo {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

button {
    background-color: rgb(242,95,112);
    border: none;
    height: 45px;
    width: 90px;
    margin-top: 50px;
    position: relative;
    border-radius: 3px;
}

button:hover {
    background-color: #cccccc;
}

.btntxt {
    color : #fff;
    font-family: 'Raleway', sans-serif;
}



