
/**

            SHOP

*/

.boekcover {
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

.spacer {
    margin-top: 50px;
}

#klikbestel{
    
    margin-left : 10px;
}

.shoppanel {
    background: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 15px auto 0 auto;
    padding: 10px 20px 45px;
    max-width: 150%;
    width : 90%;
}